In [ ]:
# Add widgets for catalog and schema parameters
dbutils.widgets.text("catalog", "", "Catalog Name")
dbutils.widgets.text("schema", "", "Schema Name")

# Get parameter values (fallback to defaults if not provided)
catalog = dbutils.widgets.get("catalog") or spark.conf.get("bundle.var.catalog", "main")
schema = dbutils.widgets.get("schema") or spark.conf.get("bundle.var.schema", "incremental_dlt")

%load_ext autoreload
%autoreload 2

In [ ]:
import sys
sys.path.append('../src')

In [ ]:
spark.sql(f"""CREATE TABLE IF NOT EXISTS {catalog}.{schema}.random_data (
  id BIGINT,
  name STRING
);""")

In [ ]:
spark.sql(f"""INSERT INTO {catalog}.{schema}.random_data
SELECT 
  CAST(rand() * 100000 AS BIGINT) AS id,
  CASE CAST(rand() * 5 AS INT)
    WHEN 0 THEN 'Alice'
    WHEN 1 THEN 'Bob'
    WHEN 2 THEN 'Charlie'
    WHEN 3 THEN 'Diana'
    ELSE 'Eve'
  END AS name
FROM RANGE(5);""")